<html>
    <head>
        <meta charset='utf-8' />
        <title>Books</title>
        <link rel="stylesheet" href="/css/style.css" />

    </head>
    <body class="bg-gray-100">
        <h1 class=" my-10 font-extrabold bg-clip-text bg-gradient-to-br drop-shadow-2xl from-pink-400 to-red-600 text-transparent text-center  text-8xl" >Books Library</h1>
        
        {{{body}}}
        
        <script src="https://cdn.tailwindcss.com"></script>
        <script src='https://unpkg.com/htmx.org@1.5.0'></script>
        <script src='https://unpkg.com/hyperscript.org@0.9.8'></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
        <script src='/js/main.js'></script>
    </body>
</html>