body {
    padding: 20px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
tr.htmx-swapping td {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
td,
th {
    border: 1px solid #383737;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

.htmx-indicator{
    opacity:0;
    transition: opacity 3s ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.spinner{
    display:none;
}
.htmx-request .spinner{
    margin-left: 1rem;
    display: inline-block;
    width: fit-content;
}
.htmx-request.spinner{
    margin-left: 1rem;
    display: inline-block;
    width: fit-content;
}
